@model List<ArKorespV1.ViewModels.PEPROCOBDOKPOZWithTail>
@{
    Layout = "~/Views/Shared/_LayoutRefreshable.cshtml";
}


<h2 style="padding-top:10px">Kroki obiegu</h2>

@if (Model.FirstOrDefault() == null)
{
    <p>
        <span>
            @Html.ActionLink(linkText:"Dodaj element startowy"
                        ,actionName: "Create", controllerName:"PEPROCOBDOKPOZ"
                            ,routeValues: new { procedura  = ViewBag.procedura , levelup = ViewBag.procedura },
                            htmlAttributes: new { @class = "btn btn-primary" })
        </span>
    </p>
}
else
{
    <table class="table" style="width:110%">
        <thead>
            <tr>
                <th style="width:12%">@Html.DisplayNameFor(model => model.FirstOrDefault().pEPROCOBDOKPOZ.DNAZWA)</th>
                <th style="width:25%">@Html.DisplayNameFor(model => model.FirstOrDefault().pEPROCOBDOKPOZ.DOPIS)</th>
                <th>@Html.Raw("Dalsze elementy")</th>
                <th style="width:10%"></th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(mi => item.pEPROCOBDOKPOZ.DNAZWA)
                    <br />
                    <span class="linkstyle">@Html.ActionLink(linkText:"Zmień"
                                ,actionName:"Edit"
                                ,controllerName: "PEPROCOBDOKPOZ"
                                ,routeValues: new{ id = item.pEPROCOBDOKPOZ.ID, procedura = ViewBag.procedura}
                                ,htmlAttributes: null)</span>
                    </td>
                    <td>@Html.DisplayFor(mi => item.pEPROCOBDOKPOZ.DOPIS)</td>
                    <td>
                        @if (item.leaf.Count == 0)
                        {
                            @Html.Raw("Brak następnego etapu.")<br />
                        }
                        @foreach (var nextleaf in item.leaf)
                        {
                            @Html.Raw(nextleaf.DNAZWA) @Html.Raw(" ,") <br />

                        }
                        @Html.ActionLink(linkText: "Dodaj następny etap",
                                actionName:"Create",
                                controllerName:"PEPROCOBDOKPOZ",
                                routeValues: new { procedura = ViewBag.procedura
                                                    ,levelup = item.pEPROCOBDOKPOZ.ID },
                                htmlAttributes: null
                                )
                    </td>
                    <td></td>
                    <td class="idcolumn">@Html.DisplayFor(mi => item.pEPROCOBDOKPOZ.ID)</td>
                </tr>
            }
        </tbody>
    </table>
}

@Html.ActionLink("Powrót do listy", "Index")