@model List<ArKorespV1.Models.UserNotes>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notatki użytkownika @ViewBag.uname</h2>

<p>
    <span>
        @Html.ActionLink("Dodaj", "Create", new { username = ViewBag.uname },
         new { @class = "btn btn-primary" })
    </span>
</p>


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(mitem => mitem.FirstOrDefault().DDATA) </th>
        <th>@Html.DisplayNameFor(mitem => mitem.FirstOrDefault().DNOTATKA) </th>
        <th></th>
    </tr>
    @foreach (var notki in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => notki.DDATA)
            </td>
            <td>
                @Html.DisplayFor(modelitem => notki.DNOTATKA)
            </td>
            <td>
                @Html.ActionLink(linkText: "Zmień", actionName: "Edit", routeValues: new { id = notki.ID })
                <br />
                @Html.ActionLink(linkText: "Usuń", actionName: "Delete", routeValues: new { id = notki.ID })

            </td>
        </tr>
    }
</table>