@model ArKorespV1.Models.PESKRZPOCZT
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zmień dane o skrzynce</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SDATA)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model._id)

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.DNAZWA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DNAZWA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DNAZWA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DSYMBOL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DSYMBOL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DSYMBOL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DEMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DEMAIL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DEMAIL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


