@model ArKorespV1.Models.PEKORESP
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top:10px">Usunąć element ?</h2>
<hr />
<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.DKONTRAHENT)</dt>
    <dd>@Html.DisplayFor(model => model.DKONTRAHENT)</dd>
    <dt>@Html.DisplayNameFor(model => model.DKONTRAHENTADRES)</dt>
    <dd>@Html.DisplayFor(model => model.DKONTRAHENTADRES)</dd>
    <dt>@Html.DisplayNameFor(model => model.DDOTYCZY)</dt>
    <dd>@Html.DisplayFor(model => model.DDOTYCZY)</dd>
    <dt>@Html.DisplayNameFor(model => model.DDATA)</dt>
    <dd>@Html.DisplayFor(model => model.DDATA)</dd>
    <dt>@Html.DisplayNameFor(model => model.DNOTATKA)</dt>
    <dd>@Html.DisplayFor(model => model.DNOTATKA)</dd>
</dl>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Hidden("rejkoresp", (string)ViewBag.rejkoresp)
    <div class="form-actions no-color">
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        @Html.ActionLink("Powrót do listy", "Index", new { ViewBag.rejkoresp })
    </div>
}