@model List<ArKorespV1.Models.PEKORESP>
@{
    Layout = "~/Views/Shared/_LayoutRefreshable.cshtml";
}

<h2>Rejestr korespondencji @Html.Raw(ViewBag.nazwa)</h2>

<style>
    .table, th, td {
        border: 1px solid lightgray;
        max-width: none;
        margin-left: initial;
    }

    a.my-class {
        color: #333333
    }

        a.my-class:active {
            color: #666666
        }

        a.my-class:link {
            color: #3b9c46
        }

        a.my-class:visited {
            color: coral
        }
</style>

<style>
    tr.NIEPARZYSTE td {
        background-color: lightblue;
    }

    tr.PARZYSTE td {
        background-color: white;
    }

    tr.TRZECIE td {
        background-color: #e6fffa;
    }

    tr.CZWARTE td {
        background-color: #ffe6e6;
    }
</style>

<style>
    .container {
        margin-left: 1px;
        max-width: none;
    }
</style>
@{int i = 0;}
<p>
    <span>
        @Html.ActionLink("Dodaj", "Create", new { rejkoresp  = ViewBag.rejkoresp },
         new { @class = "btn btn-primary" })
    </span>
</p>

@if (Model.FirstOrDefault() == null)
{
    <h2>Brak danych do wyświetlenia</h2>
}
else
{

    <table class="table" style="width:140%">
        <tr style="background-color:#f2f2f2">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DDATA)<br />
                @Html.DisplayNameFor(model => model.FirstOrDefault().DNUMER)
            </th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DKONTRAHENT)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DDOTYCZY)</th>
            <th style="width:10%;font-size:x-small">
                @Html.DisplayNameFor(model => model.FirstOrDefault().DNRWGKONTRAH)
                <br />
                @Html.DisplayNameFor(model => model.FirstOrDefault().DDATAWGKONTRAH)
            </th>
            <th></th>
            <th style="width:3%">@Html.Raw("id")</th>
        </tr>
        @foreach (var item in Model)
        {
            i++;
            string rowColor;
            if (i % 4 == 0)
            {
                rowColor = "PARZYSTE";
            }
            else if (i % 4 == 1)
            {
                rowColor = "NIEPARZYSTE";
            }
            else if (i % 4 == 3)
            {
                rowColor = "TRZECIE";
            }
            else
            {
                rowColor = "CZWARTE";
            }
        <tr class="@rowColor">
            <td>
                @Html.DisplayFor(mi => item.DDATA) <br />
                @Html.DisplayFor(mi => item.DNUMER)
            </td>
            <td>
                @Html.DisplayFor(it => item.DKONTRAHENT)
            </td>
            <td>
                @Html.DisplayFor(it => item.DDOTYCZY)
            </td>
            <td>
                @Html.DisplayFor(mi => item.DDATAWGKONTRAH) <br />
                @Html.DisplayFor(mi => item.DNRWGKONTRAH)                 
            </td>

            <td>
                @Html.ActionLink("Zmień", "Edit",  new { id = item.ID,rejkoresp = ViewBag.rejkoresp })<br />
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID, rejkoresp = ViewBag.rejkoresp })<br />
                @Html.ActionLink("Obieg", "Obieg", new { id = item.ID, rejkoresp = ViewBag.rejkoresp })
        </td>
        <td style="background-color:cornsilk;font-size:xx-small;font-style:normal">
            @Html.DisplayFor(mi => item._id)<br />
            @Html.DisplayFor(mi => item.SDATA)</td>
        </tr>
        }
    </table>
}

