@model ArKorespV1.Models.PEZALACZNIKI

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zmień dane o skrzynce</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SDATA)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model._id)
    @Html.HiddenFor(model => model.DDANE)

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.DNAZWAPLIKU, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DNAZWAPLIKU, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DNAZWAPLIKU, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DOPIS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DOPIS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DOPIS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DWERSJA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DWERSJA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DWERSJA, "", new { @class = "text-danger" })
        </div>
    </div>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




