@model ArKorespV1.ViewModels.ZalacznikiZOgonemList
@{
    Layout = "~/Views/Shared/_LayoutRefreshable.cshtml";
}

<style>
    .container {
        margin-left: 1px;
        max-width: none;
    }
</style>

<h2 style="padding-top:10px">Lista plików użytkownika</h2>

<p>
    @using (Html.BeginForm(
           actionName: "AttachementInsert", controllerName: "PEZALACZNIKI",
           routeValues: new {  },
           method: FormMethod.Post,
           htmlAttributes: new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" id="file" value="wybierz załącznik" /> <br>
        @Html.Raw(" Komentarz") <input type="text" name="comment" id="comment" value="" size="200"><br>
        <input type="submit" name="submit" value="Zapisz" />
    }
</p>
<hr />
@if (Model.FirstOrDefault() == null)
{
    <h2>Brak danych do wyświetlenia</h2>
}
else
{
    <table class="table" style="width:120%">
        <thead>
            <tr style="background-color:#f2f2f2">
                <th>@Html.DisplayNameFor(md => md.FirstOrDefault().pEZALACZNIKI.DNAZWAPLIKU)</th>
                <th>@Html.DisplayNameFor(md => md.FirstOrDefault().pEZALACZNIKI.DOPIS)</th>
                <th>@Html.DisplayNameFor(mi => mi.FirstOrDefault().pEZALACZNIKI.DDATA)</th>
                <th></th>
                <th style="width:3%">@Html.Raw("id")</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="2" style="Border-bottom: 1px solid black;">
                    <span style="padding-right:10px">
                        @Html.ActionLink(linkText:"<<<",actionName:"Index"
                       ,routeValues: new { pagesize = ViewBag.psize, pagenumber = 1 },
                       htmlAttributes: new { @class= "btn btn-primary btn-lg" }
                       )
                    </span>
                    @Html.ActionLink(linkText:"<",actionName:"Index",
                   routeValues: new { pagesize = ViewBag.psize, pagenumber =  ViewBag.page== 1?1:ViewBag.page -1  },
                   htmlAttributes: new { @class= "btn btn-primary btn-lg" }
                   )
                    @Html.Raw(ViewBag.page)
                    @if (Model.Count() == ViewBag.psize)
                    {
                        <span style="padding-right:10px">
                            @Html.ActionLink(linkText: ">", actionName: "Index", routeValues: new { pagesize = ViewBag.psize, pagenumber = ViewBag.page + 1 },
                           htmlAttributes: new { @class = "btn btn-primary btn-lg" }
                           )
                        </span>
                        @Html.ActionLink(linkText: ">>>", actionName: "Index",
                       routeValues: new { pagesize = ViewBag.psize,
                           pagenumber = ((ViewBag.numberofrecords -1 )/ ViewBag.psize) + 1
                       },
                       htmlAttributes: new { @class = "btn btn-primary btn-lg" }
                       )
                    }
                    @Html.Raw("Liczba rekordów ") <b>@Html.Raw(ViewBag.numberofrecords)</b>
                    @Html.Raw("Liczba stron ") <b>@Html.Raw(ViewBag.numberofrecords / ViewBag.psize + (ViewBag.numberofrecords % ViewBag.psize >0?1:0) )</b>
                </td>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.pEZALACZNIKI.DNAZWAPLIKU)</td>
                    <td>@Html.DisplayFor(model => item.pEZALACZNIKI.DOPIS)</td>
                    <td>@Html.DisplayFor(model => item.pEZALACZNIKI.DDATA)</td>
                    <td>
                        @Html.ActionLink(linkText:"Pobierz plik",actionName:"DownloadFile"
                    ,routeValues:new { id = item.pEZALACZNIKI.ID})
                    <br />
                    @Html.ActionLink(linkText:"Usuń", actionName: "Delete"
                        , routeValues: new { id = item.pEZALACZNIKI.ID})
                    <br />
                    @Html.ActionLink(linkText:"Edytuj metadane", actionName:"Edit"
                        ,routeValues: new { id = item.pEZALACZNIKI.ID })
                </td>
                <td style="background-color:cornsilk;font-size:xx-small;font-style:normal">
                    @Html.DisplayFor(model => item.pEZALACZNIKI._id) <br />
                    @Html.DisplayFor(model => item.pEZALACZNIKI.DROZMIARPLIKU)
                </td>
            </tr>
        }
        </tbody>
        </table>

    
}



