@model List<ArKorespV1.Models.ATLOG>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table, th, td {
        border: 1px solid lightgray;
        max-width: none;
        margin-left: initial;
    }

    a.my-class {
        color: #333333
    }

        a.my-class:active {
            color: #666666
        }

        a.my-class:link {
            color: #3b9c46
        }

        a.my-class:visited {
            color: coral
        }
</style>

<style>
    tr.NIEPARZYSTE td {
        background-color: lightblue;
    }

    tr.PARZYSTE td {
        background-color: white;
    }

    tr.TRZECIE td {
        background-color: #e6fffa;
    }

    tr.CZWARTE td {
        background-color: #ffe6e6;
    }
</style>

<style>
    .container {
        margin-left: 1px;
        max-width: none;
    }
</style>

@{int i = 0;}

<h2>Wykaz logowań uzytkownika @Html.Raw(@ViewBag.UserName)</h2>
<table class="table">
    <tr style="background-color:#f2f2f2">
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().UserId)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().LoginDateTime)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().LoginUrl)</th>
    </tr>
    @foreach (var item in Model)
    {
        i++;
        string rowColor;
        if (i % 4 == 0)
        {
            rowColor = "PARZYSTE";
        }
        else if (i % 4 == 1)
        {
            rowColor = "NIEPARZYSTE";
        }
        else if (i % 4 == 3)
        {
            rowColor = "TRZECIE";
        }
        else
        {
            rowColor = "CZWARTE";
        }
        <tr class="@rowColor">
            <td>@Html.DisplayFor(modelitem => item.UserId)</td>
            <td>@Html.DisplayFor(modelitem => item.LoginDateTime)</td>
            <td>@Html.DisplayFor(modelitem => item.LoginUrl)</td>
        </tr>
    }
</table>

