@model List<ArKorespV1.Models.PEREJKORESP>
@{
    Layout = "~/Views/Shared/_LayoutRefreshable.cshtml";
}
<h3 style="padding-top:10px">Rejestry korespondencji</h3>
<style>
    .table, th, td {
        border: 1px solid lightgray;
        max-width: 130%;
        margin-left: initial;
    }

    a.my-class {
        color: #333333
    }

        a.my-class:active {
            color: #666666
        }

        a.my-class:link {
            color: #3b9c46
        }

        a.my-class:visited {
            color: coral
        }
</style>

<style>
    tr.NIEPARZYSTE td {
        background-color: lightblue;
    }

    tr.PARZYSTE td {
        background-color: white;
    }

    tr.TRZECIE td {
        background-color: #e6fffa;
    }

    tr.CZWARTE td {
        background-color: #ffe6e6;
    }
</style>

<style>
    .container {
        margin-left: 1px;
        max-width: none;
    }
</style>
@{int i = 0;}
<p>
    <span>
        @Html.ActionLink("Dodaj", "Create", null,
         new { @class = "btn btn-primary" })
    </span>
</p>

<table class="table" style="width:110%">
    <tr style="background-color:#f2f2f2">
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DNAZWA)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DSYMBOL)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DKIERUNEK)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DFORMAT)</th>
        <th></th>
        <th>id</th>
    </tr>
    @foreach (var item in Model)
    {
        i++;
        string rowColor;
        if (i % 4 == 0)
        {
            rowColor = "PARZYSTE";
        }
        else if (i % 4 == 1)
        {
            rowColor = "NIEPARZYSTE";
        }
        else if (i % 4 == 3)
        {
            rowColor = "TRZECIE";
        }
        else
        {
            rowColor = "CZWARTE";
        }
    <tr class="@rowColor">
        <td>
            @Html.DisplayFor(modelitem => item.DNAZWA)
        </td>
        <td>@Html.DisplayFor(modelitem => item.DSYMBOL)</td>
        <td>@Html.Raw(item.DKIERUNEK == 1 ? "przychodząca" : "wychodząca")</td>
        <td>@Html.DisplayFor(modelitem => item.DFORMAT)</td>

        <td>
            @Html.ActionLink(linkText: "Zmień", actionName: "Edit", routeValues: new { id = item.ID })
            <br />
            @Html.ActionLink(linkText: "Usuń", actionName: "Delete", routeValues: new { id = item.ID })
            <br />
            @Html.ActionLink(linkText: "Użytkownicy rejestru", controllerName: "PEREJKORESPPRAC", actionName: "Index", routeValues: new { rejestr = item.ID }, htmlAttributes: new { target = "_blank" })
        </td>
        <td class="idcolumn">
            @Html.DisplayFor(modelitem => item._id)<br />
            @Html.DisplayFor(modelitem => item.SDATA)
        </td>
    </tr>
}
</table>




